<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> acode default screen</title>
    <link href="static/CSS/index.css" rel="stylesheet">
</head> 
<body>
    <div id="title-box">
        <h2 align="center"> Browser Screen </h2>
        <p> this is a smalll and quick browser so that you'll able to find required quick information, if you want something different then use the search bar you are seeing at the top of this sidebar. !thanks for installing this browser</p>
    </div>
    <div id="main-container">
        <div class="boxes  box1">
            <img class="img-inside-boxes yt_logo" src="https://e7.pngegg.com/pngimages/208/269/png-clipart-youtube-play-button-computer-icons-youtube-youtube-logo-angle-rectangle-thumbnail.png" alt="yt text image">
            <p> this app is not able to full yoiutube but it works using some basic technoligies maybe sometimes youll face some minor buggs we are sory for that but were assuring you to fix it in future additionaly we're expecting some feedbacks from you</p>
        </div>
        <div class="boxes box2"></div>
        <div class="boxes box3"></div>
        <div class="boxes box4"></div>
        <div class="boxes box5"></div>
        <div class="boxes box6"></div>
        <div class="boxes box7"></div>
        <div class="boxes box8"></div>
        <div class="boxes box9"></div>
        <div class="boxes box10"></div>
    </div>
    <script src="static/JS/index.js"></script>

</body>
</html>